<nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
    <a class="navbar-brand" href="/">홈</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/post">글작성</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post/del">글삭제</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post/update">글수정</a>
      </li>
      
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading1">First heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading4">Fourth heading</h4>
    <p>...</p>
    <h4 id="scrollspyHeading5">Fifth heading</h4>
    <p>...</p>
  </div>